body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(197, 250, 175);
    margin: 0;
}

.card {
    width: 400px;
    background-color: rgb(197, 250, 175);
    padding: 20px;
    border: 2px solid #5a7b05; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px #1e2903; 
    display: flex;
    flex-direction: column;
}

.card img {
    width: 300px;
    margin: 0 auto; 
    display: block;
    border-radius: 10px;
}

button {
    border-radius: 20px; 
    width: 100px;
    height: 50px;
    border: 2px solid #b1ea20;
    background-color: #b1ea20; 
    margin: 20px auto; 
    display: block;
    margin-left: 22px;
    cursor: pointer;
}

h3, p {
    text-align: center;
}

.info p {
    display: inline-block;
    margin: 0 10px;
    font-size: 0.9em;
}
